 .container {
   overflow: hidden;
   padding: 2px;
   display: inline-block;
   margin: 2px;
 }

 .info {
   width: 30px;
   text-align: center;
   background: black;
   border: 1px solid #002200;
 }

 knob {
   background-size: contain;
   width: 30px;
   height: 30px;
   display: block;
 }

 knob.skin1 {
   background: url('../../../../assets/knob_back.svg');
   background-size: contain;
 }

 knob.skin1 /deep/ .knob {
   background: url('../../../../assets/knob_front.svg');
   background-size: contain;
 }
